# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

README.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
LICENSE-fml.txt
gradlew-setupDecompWorkspace.bat
gradlew-setupDecompWorkspace-refresh-deps.bat
gradlew-jar.bat
forge-1.9-12.16.0.1811-1.9-changelog.txt
gradlew-build.bat
gradlew-cleanCache.bat
gradlew-clean.bat
gradlew-eclipse.bat
CREDITS-fml.txt