/gradlew-build.bat
/gradlew-clean.bat
/gradlew-clean-cache.bat
/gradlew-eclipse.bat
/gradlew-jar.bat
/gradlew-setupDecompWorkspace.bat
/gradlew-setupDecompWorkspace-refresh-deps.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/forge-1.7.10-10.13.4.1558-1.7.10-changelog.txt
/CREDITS-fml.txt
/.project
/.classpath
/bin
/.settings
/.gradle
